
.popup-wrap {
  position: absolute;
  display: flex;
  flex-flow: column;
  /*border: 1px solid;
  border-radius: 10px;
  padding: 0.5em;
  padding: 10px;*/
  z-index: 1000;
  /*cursor: pointer;*/
  /*background: #f2f1f1;*/
}

/* We tell all items to be 100% width */
.popup-handle, .popup-mid, .popup-footer {
  display: flex;
  flex-flow: row;
}

.popup-mid.popup-centre {s
  flex-grow: 1;
}

.popup-handle {
  /*position: absolute;
  top: 0px;
  left: 16px;
  right: 16px;*/
  min-height: 20px;
  /*line-height: 20px;*/
  /*background-image: url('/asset/ui/dialog/top-centre.png');*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*font-size: 11px;*/
  /*cursor: pointer;*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup-footer {
  min-height: 16px;
}

.popup-left,
.popup-right {
  min-width: 16px;
}

.popup-mid {
  flex: 1 100%;
}

.popup-mid.popup-left,
.popup-mid.popup-right {
  flex: initial;
}

.popup-handle.popup-left {
  background-image: url('/asset/ui/dialog/top-left.png');
}

.popup-handle.popup-centre {
  flex-grow: 1;
  background-image: url('/asset/ui/dialog/top-centre.png');
}

.popup-handle.popup-right {
  background-image: url('/asset/ui/dialog/top-right.png');
}

.popup-mid.popup-left {
  background: url('/asset/ui/dialog/mid-left.png');
}

.popup-mid.popup-centre {
  flex-grow: 1;
  /*display: flex;
  align-items: center;
  justify-content: center;*/
}

.popup-mid.popup-right {
  background-image: url('/asset/ui/dialog/mid-right.png');
}

.popup-footer.popup-left {
  background-image: url('/asset/ui/dialog/bottom-left.png');
}

.popup-footer.popup-centre {
  flex-grow: 1;
  background: url('/asset/ui/dialog/bottom-centre.png');
}

.popup-footer.popup-right {
  background-image: url('/asset/ui/dialog/bottom-right.png');
}


.popup-actions {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 20px -1px 0;
  z-index: 2000;
  font-weight: bold;
  line-height: 20px;
  cursor: pointer;
}
.popup-close {
  animation: blink 1s;
  animation-iteration-count: infinite;
}
.popup-title {
  display: table;
  margin: 0px auto;
  font-family: "Lucida Sans Unicode", sans-serif;
  text-transform: lowercase;
  color: white;
  text-shadow:    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px  1px 0 #000,
    1px  1px 0 #000;
}
.popup-content {
  position: absolute;
  top: 20px;
  left: 16px;
  right: 16px;
  /*flex: 1;*/
  bottom: 16px;
  background-color: white;
  padding-bottom: 4px;
  margin: 0;
}
.popup-iframe {
  /*position: absolute;
  top: 0;
  left: 0;*/
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
}
.popup-iframe-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  background-color: black;
  z-index: -1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";  /* IE 8 */
  filter: alpha(opacity=0);  /* IE 5-7 */
  -moz-opacity: 0;           /* Netscape */
  -khtml-opacity: 0;         /* Safari 1.x */
  opacity: 0;                /* Good browsers */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
