body {
  background-color: black;
}

#wrapper {
  display: flex;
  flex-flow: column;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* We tell all items to be 100% width */
.frame #top, .frame #mid, .frame #bottom {
  display: flex;
  flex-flow: row;
}

.frame .centre {
  flex-grow: 1;
}

.frame #top {
  min-height: 59px;
}

.frame #bottom {
  min-height: 54px;
}

.frame .left, .frame .right {
  width: 84px;
}

.frame #mid {
  flex: 1 100%;
}

.frame #top .left {
  background-image: url('/asset/ui/frame/top-left.png');
}

.frame #top .centre {
  background-image: url('/asset/ui/frame/top-bg.png');
}

.frame #top .right {
  background-image: url('/asset/ui/frame/top-right.png');
}

.frame #mid .left {
  background: url('/asset/ui/frame/mid-left.png') no-repeat, url('/asset/ui/frame/left-bg.png');

}

.frame #mid .centre {
  display: flex;
  align-items: center;
  justify-content: center;
  /*padding: 20px 1px 20px 0;*/
}

.frame #mid .right {
  background-image: url('/asset/ui/frame/right-bg.png');
}

.frame #bottom .left {
  background-image: url('/asset/ui/frame/bottom-left.png');
}

.frame #bottom .centre {
  background: url('/asset/ui/frame/bottom-centre.png') no-repeat, url('/asset/ui/frame/bottom-bg.png');
}

.frame #bottom .right {
  background-image: url('/asset/ui/frame/bottom-right.png');
}
